.objparams{
	max-height: 456px;
	background-color:white;
	display: grid;
	grid-template-columns: .7fr 1fr;
	grid-template-rows: 1fr .6fr;
	grid-template-areas: 
		"info social"
		"info business";
}

.infobox {
	grid-area: info;
	max-height: 456px;
	color: white;
	background-color: rgb(53, 53, 53);
	border-radius: 0px 25px 0px 0px;
	display: flexbox;
	padding: 30px 30px 0px 39px;
	line-height: 0px;
	align-items: center;
}
.contactus{
	border: 1px solid transparent;
	font-size: 20px;
	text-shadow: 0px 3px 6px black;
}
.reachus{
	border: 1px solid transparent;
	font-size: 22px;
	margin-top: 18px;
}
.number{
	border: 1px solid transparent;
	font-size: 22px;
	text-shadow: 0px 3px 6px black;
}
.orbar{
	border: 1px solid transparent;
	text-align: center;
	margin: 16px 0px;
}
.emailus {
	border: 1px solid transparent;
	font-size: 22px;
}
.email{
	border: 1px solid transparent;
	text-shadow: 0px 3px 6px black;
	font-size: 22px;
}

.socialbox{
	grid-area: social;
	max-height: 270px;
	padding: 6px 48px 46px 48px;
}
.socialheader{
	padding-left: 15px;
	font-size: 22px;
	text-shadow: 0px 2px 6px rgba(87, 87, 87, 0.349);
}
.socialicons{
	padding: 0px 15px 0px 15px;
	display: flex;
	justify-content: space-between;
}
/* .socialicons {
	text-shadow: 2px 2px 2px black;
} */

.businessbox{
	/* border: 1px solid black; */
	display: flex;
	max-height: 140px;
	grid-area: business;
	background-color: rgba(194, 194, 194, 0.390);
	padding: 0px 20px 20px 20px;
	
}
.businessicon {
	margin: 24px 10px 0px 40px;
}

.businessdetail{
	width: 350px;
	padding-left: 28px;
	margin-top: 38px;
	/* border: 1px solid black; */
}