.container{
	/* border: 1px solid blue; */
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}
/* .cardoutline{
	border: 1px solid transparent;
} */
/* .tile{
	border: 1px solid black;
	 max-width: 211px;
} */
.caption{
	/* border: 1px solid black; */
	text-align: center;
	margin: 5% 10% ;
	max-width: 180px;
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: none;
	font-weight: bold;
	/* font-style: ; */
}