.wrapper{
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
	border-left: 1px solid rgba(180, 180, 180, 0.26);
	border-right: 1px solid rgba(180, 180, 180, 0.26);
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 0px 8%;
	height: 158px;
	background-color: white;
	z-index: 2;
	margin-bottom: 20px;
	
	/* border-style: dashed;
	border-color: red; */
}

.logo {
	min-width: 310px;
	min-height: 150px;
	margin-top: 10px;
	/* border:1px dashed red; */
}

.navigation {
	display: inline-flex;
	align-items: center;
	margin-top: 50px;
	margin-left: 20px;
	list-style-type: none;
	/* border-style: dotted; */
	/* border-color: blue; */
	
}

.navigation a {
	text-decoration: none;
	align-self: center;
	color: #070707;
	font-size: 26px;
	font-weight: 600;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* border-style: dashed;
	border-color: red; */
	margin-right: 20px;
}

@media (min-width: 768px) {
	.logo {
		font-size: 2.5rem;
	}

	.navigation a {
		font-size: 1.5rem;
	}
}